
<footer class="footer-section">
  <div class="container">
      <div class="justify-content-center text-center">
        <ul class="social-icons social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
</footer>
