<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Pretrained  Models</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Model as a Service</p>
     <!-- <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Keras</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Model 1</a>
          </li>
          <li>
            <a href="#">Model 2</a>
          </li>
          <li>
            <a href="#">Model 3</a>
          </li>
        </ul>
      </li>-->
      <li>
        <a routerLink="/DenseNet121">DenseNet121</a>
      </li>
      <li>
        <a  routerLink="/InceptionV3">InceptionV3</a>
      </li>
      <li>
        <a routerLink="/MobileNet">MobileNet</a>
      </li>
      <li>
        <a routerLink="/Nasnet">Nasnet</a>
      </li>
      <li>
        <a routerLink="/ResNet50">ResNet50</a>
      </li>
      <li>
        <a routerLink="/VGG16">VGG16</a>
      </li>
      <li>
        <a routerLink="/Xception">Xception</a>
      </li>
    </ul>
  </nav>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
