/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


/*body{*/
/*  background-color: #323232;*/
/*}*/
/*===================================
  Main Banner
====================================== */
.full-screen {
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 991px){
  .md-full-screen-auto {
    min-height: auto;
  }
}

@media (max-width: 767px){
  .sm-full-screen-auto {
    min-height: auto;
  }
}

.main-half-slider .slider {
  height: 750px;
}
